/**
 * Styling specific to "Get Involved" pages/subpages
 */

@charset "UTF-8";


/*Styling for Respect(Ed) @ Your School Page*/

.RespectEdAtSchool {
	width: 100%;
	padding-top: 20px;
}
.sectionsubTitle {
	padding-left: 1%;

}
.sectionsubTitle p {
	line-height: 1.5;
}
.GetStartedButton {
	cursor: pointer;
	padding: 17px;
	margin-left: 1%;
	font-size: 15px;
	color: white;
	background-color: #0A101F;
	border-style: none;
}
.GetStartedButton:hover {
	color: white;
	background-color: #D93A32;
}
.lowergetstartedbutton {
	margin-bottom: 3.5%;
}
.popupForm {
	position: absolute;
	cursor: pointer;
	display: none;
	z-index: 1000;
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	animation-name: fadeIn;
	animation-duration: 0.5s;

}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.close {

	border-radius: 50px;
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 30px;
	text-align: center;
	/*background-color: black;*/
	color: white;
	text-shadow: black;
	top: 1%;
	left: -7%;
	z-index: 100000;
	font-weight: bolder;
	text-align: center;
	text-shadow: 3px 1px #0A101F;
}
.close:hover {
}
.popupFormContent {
	height: 100%;
	width: 40%;
	right: 0;
	animation-name: slideIn;
	animation-duration: 1s;
	background-color: white;
	position: fixed;
	z-index: 10000 !important;
}
@keyframes slideIn {
	from {
		right: -400px;
		opacity: 0;
	}
	to {
		right: 0px;
		opacity: 1;
	}
}
.popupFormContent p {

}
.bringGoogleForm {
	width: 100%;
	height: 100%;
}
.bringIframe {
	height: 100%;
	width: 100%;
}



/*Styling for Contact Us Page*/

#googleFormContact {
	width: 100%;
	height: 1050px;
	font-family: "Open Sans";
}
#googleFormContact div {
	width: 100%;
}
.textLeft {
	width: 100%;
	margin: 0;
	display: block;
	float: left;
}
.formRight {
	width: 100%;
	margin: 0;
	padding: 0;
	padding-top: 1%;
	display: block;
	float: right;
}

@media screen and (max-width: 730px) {
	.textLeft {
		width: 100%;
	}
	.formRight {
		width: 100%;
	}
}

.immtrb {
	color: #D93A32;
	font-weight: 600;
	margin-top: 5%;
}

@media screen and (max-width: 950px) {
	.popupFormContent {
		width: 70% !important;
	}
}
