/**
 * Styling specific to "What's New" page
 */

 
.articleBlock {
	padding-left: 1%;
	padding-right: 3%;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	background-color: none;
}
.articleBlock:hover {
	background-color: #ffffff63;
}
.articleDate {
	width: 18%;
}
.dateText {
	font-size: 20px;
	color: #D93A32;
	padding-right: 50px;
	font-family: "Open Sans";
}
 .articleTitle {
 	width: 82%;
 }
 .titleText {
 	font-size: 20px;
 	font-weight: bold;
 	font-family: "Open Sans";
 	margin-bottom: 5px;
 }
 .articleSummary {
 	width: 82%;
 	padding-left: 18%;
 }
 .summaryText {
 	line-height: 1.5;
 	font-size: 18px;
 	font-family: "Open Sans";
 }
 .whatsNewTitle {
 	padding-bottom: 25px !important;
 }
 .whatsNewRight {
 	padding-bottom: 30px !important;
 }
  #articleSearch {
 	width: 94%;
 	padding: 17px;
 	margin-left: 1%;
 	margin-bottom: 20px;
 	margin-top: 15px;
 	border: 0.5px solid #0A101F;
 }
 .searchBar {
	 width: 97%;
 }


/* Styling for blog pages */
 .articleTitle a {
 	text-decoration: none;
 	color: #0A101F;
 }
 .articleTitle:hover {
 	text-decoration: underline;
 }
 .fullDateText {
 	font-style: italic;
 	color: #D93A32;
 }
 .articlePageContent {
 	padding: 2% 3% 2% 3%;
 }
 .sectionText a:hover {
	 color: #8f1d17;
 }
.indentedSectionText {
	text-indentation: 50px;
}
 .articleButton {
 	border: none;
 	font-style: italic;
 	font-size: 14px;
 	color: #d93a32cf;
 	margin-left: 0.6%;
 	margin-top: 0.5%;
 	margin-bottom: 1%;
 }
.articleButton:hover {
	cursor: pointer;
	font-weight: bold;
}
